<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SD_EXIF_Editor_v2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SD_EXIF_Editor_v2.Properties.Settings>
            <setting name="NSFWLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DisplayPlaceholders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="IsDarkTheme" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaximumLines" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ShouldKeepSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShouldKeepPos" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
        </SD_EXIF_Editor_v2.Properties.Settings>
    </userSettings>
</configuration>